name: Release

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:
    inputs:
      version:
        description: "Release version"
        required: true

jobs:
  build:
    name: Build

    strategy:
      matrix:
        include:
          - { os: macos-latest, goos: darwin, goarch: amd64 }
          - { os: macos-latest, goos: darwin, goarch: arm64 }
          - { os: ubuntu-latest, goos: linux, goarch: amd64 }
          - { os: ubuntu-latest, goos: linux, goarch: arm64 }
          - { os: windows-latest, goos: windows, goarch: amd64 }
          - { os: windows-latest, goos: windows, goarch: arm64 }

    runs-on: ${{ matrix.os }}

    env:
      GO111MODULE: "on"
      CGO_ENABLED: "0"
      GOOS: ${{ matrix.goos }}
      GOARCH: ${{ matrix.goarch }}

    steps:
      - run: echo "Testing matrix on $GOOS_$GOARCH (runs on ${{ matrix.os }})"
