name: Release

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:
    inputs:
      version:
        description: "Release version"
        required: true

jobs:
  build:
    name: Build

    strategy:
      matrix:
        goarch: [ arm64, amd64 ]
        include:
          - os: macos-latest
            goos: darwin
          - os: ubuntu-latest
            goos: linux
          - os: windows-latest
            goos: windows

    runs-on: ${{ matrix.include.os }}

    env:
      GO111MODULE: "on"
      CGO_ENABLED: "0"
      GOOS: ${{ matrix.include.goos }}
      GOARCH: ${{ matrix.goarch }}

    steps:
      - run: echo "Testing matrix on $GOOS_$GOARCH (runs on ${{ matrix.os }})"
